on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '**'

name: CI

env:
  # https://doc.rust-lang.org/cargo/reference/profiles.html#incremental
  CARGO_INCREMENTAL: 1

jobs:
  checks:
    name: Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          components: rustfmt, clippy
          target: wasm32-unknown-unknown
          override: true
      - name: Install
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
      - run: cargo fmt --all -- --check
      - run: cargo clippy --release --all-features --target wasm32-unknown-unknown -- --deny warnings
      - run: wasm-pack test --node --release --all-features
      - run: yarn install --immutable
      - name: Tests
      - run: yarn workspaces foreach -vpt run build
      - run: yarn workspaces foreach -vpt run test
      - run: yarn workspace integration_tests benchmark

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: [ checks ]
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
      with:
        cache: yarn
        node-version: "16"
      - name: Build
      - run: yarn run build
      - name: Publish
      - run: yarn publish --access public
        working-directory: ./package
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_AUTH_TOKEN}}
